# IntelliJ project
/.idea/*
/out/
/build/
/*.iml

# IntelliJ project stuff to keep consistent across all IntelliJ users
!/.idea/runConfigurations/
!/.idea/codeStyleSettings.xml

# Gradle
/.gradle/

# Assignment submit
/submit/

/findbugsReports/

# Game Saves
/saves/