@import "styles.less";
@import (inline) "bootstrap.css";

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .title {
    h1 {
      font-size: 130px;
      display: block;
      overflow: visible;
      text-align: center;
    }

    .btn-list {
      width: 100%;
      text-align: center;
    }

    width: 75vw;
    position: absolute;
    bottom: 60vh;
    left: 12vw;
  }
}
