@tob-bar-height: 5vh;
@bottom-bar-height: 30vh;
//@unit-holder-width: 70vw;

@import "styles.less";
@import (inline) "bootstrap.css";
@import "less/mixins";
@import "less/variables";

div, body {
  overflow: hidden;
}

.game-view-proxy {
  position: absolute;
  width: 100vw;
  height: 100vh;

  z-index: -1;
}
.rect {
  display: block;
  position: absolute;
  border: #000000 solid 2px;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 5vh;

  background-color: #a89454;
  border-bottom: #66420f ridge 5px;
  .btn {
    margin: 5px;
    background-color: #8a6d3b;
    color: #3c3c3c;
  }
}

.goal {
  padding: 10px;
  padding-right: 30px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: calc(@bottom-bar-height - (@bottom-bar-height * 0.3));
  left: 0;
  pointer-events: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
  color: #DDD;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: @bottom-bar-height;

  pointer-events: none;

  .holder {
    pointer-events: initial;
    .icon {
      display: inline-block;
      width: 6vw;
      height: 9vh;

      margin: 5px;

      background-size: 100% 100%;

      border: #66420f ridge 2px;

      .make-lg-column(@columns: 1, @gutter: 0);
    }
  }

  .unit-holder {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70%;

    background-color: #a89454;
    border-top: #66420f ridge 5px;

    overflow-y: auto;

    .icon {
      background-color: #2b542c;
    }
  }

  .right-box {
    display: block;
    position: absolute;
    bottom: 0;

    height: 100%;

    background-color: #a89454;
    border-top: #66420f ridge 5px;
    border-left: #66420f ridge 5px;

    .holder {
      .icon {
        background-color: #825fb9;
        .make-lg-column(@columns: 2, @gutter: 0);
      }
    }
  }
}
.modal-content {
  border: 5px ridge #66420f;
  border-right-style: outset;
  border-bottom-style: outset;
  border-radius: 0;
  background-color: #a89454;
}