div,
body {
  overflow: hidden;
}
.game-view-proxy {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  border: #000 solid 1px;
}
.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
}
.bottom-bar .holder .icon {
  display: inline-block;
  width: 6vw;
  height: 9vh;
  margin: 5px;
  background-size: 100% 100%;
  border: #000 solid 1px;
}
.bottom-bar .unit-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70%;
  width: 70vw;
  border: #000 solid 1px;
}
.bottom-bar .right-box {
  position: absolute;
  left: 70vw;
  bottom: 0;
  width: 100vw - 70vw;
  height: 100%;
  border: #000 solid 1px;
}
.bottom-bar .right-box .holder {
  border: #000 solid 1px;
}
.bottom-bar .right-box .icon {
  border: #f00 solid 1px;
}
