* {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  user-select: none;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.btn-list {
  width: 10vw;
  display: block;
}
.btn-list li {
  display: block;
  list-style-type: none;
  margin: calc(10px);
}
a {
  text-decoration: none;
}
.red {
  color: #000;
  background-color: #ff995b;
}
.blue {
  color: #000;
  background-color: #6983ff;
}
.green {
  color: #000;
  background-color: #c5fba2;
}
.orange {
  color: #000;
  background-color: #b8b463;
}
div,
body {
  overflow: hidden;
}
.game-view-proxy {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.rect {
  display: block;
  position: absolute;
  border: #000000 solid 2px;
}
.pause-menu {
  position: fixed;
  left: 40vw;
  top: 20vh;
  width: 20vw;
  z-index: 10;
  background-color: whitesmoke;
  border: #AAAAAA inset 5px;
}
.pause-menu h2 {
  text-align: center;
}
.pause-menu li {
  width: 20vw;
}
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background-color: #EEEEEE;
  border: #b7b141 solid 5px;
}
.goal {
  padding: 10px;
  padding-right: 30px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: calc(30vh - (30vh * 0.3));
  left: 0;
  pointer-events: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
  color: #DDD;
}
.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  pointer-events: none;
}
.bottom-bar .holder {
  pointer-events: initial;
}
.bottom-bar .holder .icon {
  display: inline-block;
  width: 6vw;
  height: 9vh;
  margin: 5px;
  background-size: 100% 100%;
  border: #000 solid 1px;
}
.bottom-bar .unit-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70%;
  width: 70vw;
  background-color: #EEEEEE;
  border: #b7b141 solid 5px;
}
.bottom-bar .right-box {
  display: block;
  position: absolute;
  left: 70vw;
  bottom: 0;
  width: calc(100vw - 70vw);
  height: 100%;
  background-color: #EEEEEE;
  border: #b7b141 solid 5px;
}
.bottom-bar .right-box .holder {
  width: 100%;
}
