@import "styles.less";
@import "variables";
@import (inline) "bootstrap.css";
@import "less/variables";
@import "less/mixins";


@keyframes title-drop {
  from {
    bottom: calc(100vh + 130px);
  }
  to {
    bottom: 70vh;
  }
}


@keyframes buttons-slide {
  from {left: 100vw;}
  to {left: 80vw;}
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .title {
    h1 {
      font-weight: bold;
      font-size: 130px;
      display: block;
      text-align: center;
      overflow: visible;
    }

    &.animated {
      animation-name: title-drop;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }

    text-align: center;
    width: 75vw;
    position: absolute;
    bottom: 70vh;
    left: 12vw;
  }


  .mainmenu-buttons {
    position: absolute;
    bottom: 10vh;
    left: 80vw;

    &.animated {
      animation-name: buttons-slide;
      animation-duration: 1.5s;
    }

    .btn {
      font-size: 2em;
      color: #3a753a;
      &:hover {
        color: #479147;
      }
    }
  }

  /* Load Menu */
  .files  {
    .radio {
      padding: @alert-padding;
    }
    input[type="radio"] {
      display: none;
      & + span {
        padding: @alert-padding;
      }
    }
    input[type="radio"]:checked + span {
      .alert-variant(@alert-success-bg;  @alert-success-border; @alert-success-text)
    }
  }
}

.modal-content {
  border-bottom: @hub-border-color outset 5px;
  border-right: @hub-border-color outset 5px;
  border-top: @hub-border-color ridge 5px;
  border-left: @hub-border-color ridge 5px;
  border-radius: 0;
  background: @hub-background;
  color: whitesmoke;
}