body {
  background-color: rgba(0, 0, 0, 0) !important;
}
* {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}
.overlay {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.btn-list {
  width: 10vw;
  display: block;
}
.btn-list li {
  display: block;
  list-style-type: none;
  margin: calc(10px);
}
a {
  text-decoration: none;
}
.red {
  color: #000;
  background-color: #ff995b;
}
.blue {
  color: #000;
  background-color: #6983ff;
}
.green {
  color: #000;
  background-color: #c5fba2;
}
.orange {
  color: #000;
  background-color: #b8b463;
}
